@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-brand-bg: #F9F5F1;
  --color-brand-coral: #F4A6A6;
  --color-brand-coral-light: #F5C4C4;
  --color-brand-charcoal: #2D2D2D;
}

:root {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-charcoal);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-serif);
}

body {
  @apply bg-brand-bg text-brand-charcoal;
}